---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import '@fancyapps/ui/dist/fancybox/fancybox.css';

const response = await fetch("https://rickandmortyapi.com/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query {
          characters {
            results {
              id
              name
              image
              species
              gender
              origin {
                name
              }
            }
          }
        }
      `,
      variables: {
        id: "ZmlsbXM6MQ==",
      },
    }),
  });

  const json = await response.json();
  const { characters } = json.data;
---

<BaseLayout title="Image Gallery">
<div style="position: absolute;">
  {characters.results.map((character) => (
    <a 
      data-fancybox="gallery"
      data-caption={`
        <h3>Name: ${character.name}</h3>
        <h3>Species: ${character.species}</h3>
        <h3>Gender: ${character.gender}</h3>
        <h3>Origin: ${character.origin.name}</h3>
      `} 
      href={character.image}>
        <Image
        src={character.image}
        alt={character.name}
        width="200"
        height="150" />
      </a>)
      )}
  </div>

  <script>
    import { Fancybox } from '@fancyapps/ui';

    Fancybox.bind("[data-fancybox]", {
      // Your options go here
    });
  </script>

</BaseLayout>
